img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; 
}

img[src$='#floatleft']
{
    float:left;
    margin-right: 0.7rem;      
}

img[src$='#floatright']
{
    float:right;
    margin-left: 0.7rem;      
}

table.doc td,th{
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 7px;
    vertical-align: top;
}


